# macOS
.DS_Store

# Ignore local directories (not yet as submodules)
thymer-aliases/
thymer-crm/
thymer-indent-rainbow/
thymer-journal/
thymer-logseq-importer/
thymer-maps/
thymer-org-chart/
thymer-outliner/
thymer-plugin-sdk/
thymer-toc/
thymer-wide-mode/
*.bak/
thymer/

# macOS
.DS_Store
